* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(2, 24, 49);
}

.separator {
  width: 6rem;
  height: 0.3rem;
  background: rgb(2, 24, 49);
  margin: 1rem 0;
}

.title {
  font-size: 2rem;
}

.menu-section {
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
article.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

article.menu-item .item-header {
  display: flex;
  justify-content: space-between;
}

article.menu-item img {
  width: 200px;
  height: 150px;
  display: block;
  margin-right: 1rem;
  object-fit: cover;
  border: 5px solid goldenrod;
}

.price {
  color: rgb(141, 109, 28);
}

.categories-section {
  margin: 3rem auto;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.categories-section button {
  background: none;
  border: none;
  color: rgb(141, 109, 28);
  font-size: 1.3rem;
  padding: 0.5rem;
}

.categories-section button:hover {
  cursor: pointer;
  background: rgb(141, 109, 28);
  color: #fff;
}
