* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
}

.section-center {
  width: 30%;
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  background: #fff;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

form input {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1rem;
}

form input[type='submit'] {
  background: cornflowerblue;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.list article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.2rem 0;
}

.trash-icon {
  color: red;
}

.edit-icon {
  color: green;
}

.clear-btn {
  border: none;
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  color: red;
}
